body {
    font-family: 'Helvetica', sans-serif;
}

/** launch-pad **/

#launch-pad {
    background-attachment: fixed;
    background-image: url(/images/cropped_background_image.jpeg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: -9;
    opacity: 0.8;
}

/** navbar **/

.navbar {
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

a {
    background-color: #E4E4E4;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}


/** Name & Title **/

.top {
    padding-left: 12px;
    margin-top: 20%;
    color: #ffffff;
}

title {
    padding-top: 5%;
    font-size: 5.5em;
    font-weight: 300;
    color: inherit;
}

#bio {
    color: inherit;
    font-weight: 100;
    font-size: 14px;
    padding-right: 50%;
    text-align: justify;
    text-justify: inter-word;

}

/** Sculpture Row **/

#sculpture {
    padding: 30px;}
    
#sculpture-container img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    ;}

/** Image grid **/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/** Music Row **/

#music{
    height: 100vh;
    width: 100vw;
}

.video-container-main {
    width: 80vw;
    height: 80vh;
    background-size: contain;
}

.video-wrapper {
    background-color: black;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/** Contact Row **/

#contact-row {
    background-attachment: fixed;
    background-image: url(/images/IMG_1645.JPG);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: left;
    margin-bottom: 0px;
}

/** Contact Form **/

#contact-heading{
    color: white;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

#contact-blurb{
    color: white;
    font-size: 16px;
}

#contact-row {
    background-attachment: fixed;
    background-image: url(/images/IMG_1645.JPG);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: -9;
    opacity: 0.8;
}
 #contact-form-container{
     margin-top: 20%;
     width: 70%;
     float: right;
    
     ;}

/** Footer **/

page-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    display: inline-block;
    border-color: transparent;
    background-color: inherit;
    text-align: center;
}

/** Icons **/

a {
    background-color: transparent;}

i {
    color: grey;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 38px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 2.5px;
}

