html,
body {
    font-family: 'Helvetica', sans-serif;
    background-color: white;

    /* resolving issue of white space visible at the right margin during IPAD view */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/** launch-pad **/

#launch-pad {
    background-attachment: fixed;
    background-image: url(images/cropped_workshop.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    opacity: 0.8;
}

/** navbar **/

.navbar {
    border-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
    background-color: transparent;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
    background-color: transparent;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

#nav-menu-container{
    margin: auto;
    float: none;
    padding-right: 25px;
    border-radius: 25px;
    
/* conforming style of container to style of title and contact containers */

    background-color: rgb(239, 235, 235, 0.3);
    width: auto;
}

.navbar.li.a {
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: black;
}

.navbar-right {
    float: right!important;
}

.navbar-header {
    float: none;
}

.navbar-right {
    float: none !important;
}

.navbar-toggle {
    display: block;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapse.in {
    display: block !important;
}

/** Name & Title **/

#titlecontainer {
    margin: auto;
    margin-left: 5%;
    margin-top: 20%;
    float: left;
    padding-right: 25px;
    border-radius: 25px;
    background-color: rgb(239, 235, 235, 0.3);
    width: 60%;
    height: 50%;
    padding: 25px;
}

#maintitle {
    color: white;
    font-weight: 300;
    font-size: 50px;
}

#subtitle {
    font-weight: 200;
    color: white;
    font-size: 32px;
}

#bio {
    color: white;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 767px) {


    #titlecontainer {
        float: left;
        padding-right: 25px;
        border-radius: 25px;
        color: white;
        background-color: rgb(239, 235, 235, 0.3);
        width: 80%;
        height: 70%;
        padding-top: 25px;
    }

    #maintitle {
        font-weight: 300;
        color: inherit;
        font-size: 30px;
    }

    #subtitle {
        font-weight: 200;
        color: inherit;
        font-size: 22px;
    }

    #bio {
        font-size: 12px;
        color: inherit;
        font-weight: 100;
        text-align: justify;
        text-justify: inter-word;
    }
}

/** Sculpture Row **/

#sculpture {
    padding: 40px;
}

#sculpture-container {
    margin: auto;
    border-style: groove;
    border-radius: 25px;
    background-color: rgb(239, 235, 235, 0.3);
    width: 100%;
    height: 100%;
    background-size: contain;
    padding: 25px;
}

#sculpture-container img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

/** Music Row **/

#music {
    padding-bottom: 35px;
}

.video-wrapper {
    margin: auto;
    border-radius: 25px;
    border-style: groove;
    padding: 25px;
    overflow: hidden;
}

iframe {
    width: 90%;
    height: 50%;
    margin: auto;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/** Contact Row **/

#contact-row {
    background-attachment: fixed;
    background-image: url(images/bull_sculpture_and_artist.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: left;
    margin-bottom: 0px;
    opacity: 0.8;
}

/** Contact Form **/

#contact-form-container {
    margin: auto;
    margin-left: 5%;
    margin-top: 20%;
    padding-right: 25px;
    border-radius: 25px;
    background-color: rgb(239, 235, 235, 0.3);
    width: 50%;
    height: 50%;
    background-size: contain;
    padding: 25px;
}

#contact-heading {
    color: white;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

#contact-blurb {
    color: white;
    font-size: 16px;
}

@media (max-width: 767px) {
    #contact-form-container {
        margin: auto;
        width: 100%;
        ;
    }
}

/** Footer **/

#footer-container {
    width: 100vw;
    display: inline-block;
    text-align: center;

}

#icons {
    background-size: cover;
    font-size: 48px;
    letter-spacing: 27px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 2.5px;
}

i {
    color: grey;
}
